
<div class="container"></div>
	<div class="row">
	  <div class="col-md-5"></div>
	  <div class="col-md-2">
	  	<%= form_for :recall, url: recalls_path do |f| %>
	
				<p>
					<%= f.label :name %> <br>
					<%= f.text_field :name, class: 'form-control' %>
				</p>

				<p>
					<div class="form-group">
						<%= f.label :phone %> <br>
						<%= f.text_field :phone, class: 'form-control' %> 
				  </div>
				</p>	

				<p>
					<%= f.submit 'Call me back', class: 'btn btn-primary'%> <br>
				</p>
			<% end %>
	  </div>
	</div>
</div>
