<%= form_with(model: backcall, local: true) do |form| %>
  <% if backcall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(backcall.errors.count, "error") %> prohibited this backcall from being saved:</h2>

      <ul>
      <% backcall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :backcall_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :backcall_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
