<p id="notice"><%= notice %></p>

<h1>Backcalls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backcalls.each do |backcall| %>
      <tr>
        <td><%= backcall.name %></td>
        <td><%= backcall.phone %></td>
        <td><%= link_to 'Show', backcall %></td>
        <td><%= link_to 'Edit', edit_backcall_path(backcall) %></td>
        <td><%= link_to 'Destroy', backcall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backcall', new_backcall_path %>
